@{
    ViewBag.Title = "Over ons";
}
<div class="page-header">
    <h1>Over ons <small>Wie, wat waar?</small></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Voorstelling</h2>
        <p>
            Dit is de officiële website van de Belgische eerste voetbalklasse. Dit is de hoogste afdeling van het Belgisch profvoetbal, bestaande uit 16 teams. De sponsornaam is Jupiler Pro League, naar de huidige hoofdsponsor Jupiler en organisator Pro League. De Belgische competitie startte in 1895 en is daarmee de oudste op het Europese vasteland.
        </p>
        <h2>Wat?</h2>
        <p>
            De competitie start eind juli en eindigt in de tweede helft van mei. In de wintermaanden wordt er, sinds de competitiehervorming in 2009, kerstvoetbal georganiseerd: er wordt een speeldag afgewerkt op tweede en derde kerstdag. Sinds die hervorming telt de competitie zestien clubs. Elke ploeg speelt tweemaal (heen en terug) tegen elk van de vijftien andere, dus 30 wedstrijden in totaal. Na de reguliere competitie worden er play-offs afgewerkt, waarbij de zes hoogst gerangschikte clubs het nogmaals twee keer tegen elkaar opnemen (heen en terug) in play-off 1. Dit betekent dat de top zes in totaal 40 wedstrijden afwerkt, waarvan 30 in de reguliere competitie en tien in de play-offs. Bij de start van play-off 1 wordt het puntenaantal, dat de deelnemende ploegen in de reguliere competitie hebben behaald, gedeeld door twee en naar boven afgerond. De ploegen herbeginnen dus niet vanaf nul punten.
        </p><p>
            De nummers zeven tot en met vijftien worden, samen met de drie hoogst gerangschikte clubs uit eerste klasse B (met uitzondering van de kampioen) verdeeld in twee poules van elk zes teams. Ook zij nemen het nog tweemaal tegen elkaar op (heen en terug), waardoor ook zij 40 wedstrijden afwerken, 30 in de competitie en tien tijdens de play-offs. In tegenstelling tot play-off 1 starten de teams uit play-off 2 wel vanaf nul, er wordt dus geen rekening meer gehouden met het puntenaantal uit de reguliere competitie.
        </p>
        <p> Zowel de competitie als de play-offs worden gespeeld volgens het driepuntensysteem.</p>
        <p>
            Afhankelijk van hoe goed de Belgische ploegen in Europees verband presteren, wordt bepaald hoeveel clubs in de Champions League of de UEFA Europa League mogen meedingen. Door de huidige UEFA-coëfficiënt kwalificeren de kampioen en de vice-kampioen van de Belgische competitie (m.a.w. het nummer één en twee uit play-off I) zich voor de Champions League. Meestal (afhankelijk van de coëfficiënt) is de kampioen rechtstreeks geplaatst voor de groepsfase en moet de vicekampioen twee voorrondes afwerken. De winnaar van de beker gaat rechtstreeks naar de groepsfase van de Europa League en de winnaar van de reguliere competitie mag deelnemen aan de voorlaatste voorronde. Indien die laatste zich echter kwalificeert voor de Champions League, dan krijgt het nummer drie uit play-off 1 het Europa League-ticket voor de voorlaatste voorronde (tenzij het nummer drie ook de bekerwinnaar is, dan krijgt de vierde dit Europese ticket). Indien de bekerwinnaar zich kwalificeert voor de Champions League, gaat het ticket voor de groepsfase van de Europa League naar de derde in play-off 1. Indien een ploeg uit de top drie dan ook de reguliere competitie zou hebben gewonnen, krijgt de vierde het ticket voor de voorlaatste voorronde van de Europa League. Indien een ploeg zowel de reguliere competitie als de beker wint, maar niet in de top drie van play-off 1 eindigt, dan krijgt het nummer drie het ticket voor de voorlaatste voorronde van de Europa League.
        </p>
        <h2>Waar?</h2>
        <p>Zestien clubs spelen in 2017/18 in eerste klasse A. Elf clubs komen uit Vlaanderen, vier clubs komen uit Wallonië en één uit Brussel. <strong>Deze website biedt voorlopig enkel de top 6 van de competitie!</strong> </p>
    </div>
</div>
