@{
    ViewBag.Title = "Home Page";
}

<div class="jk-slider">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example" data-slide-to="1"></li>
            <li data-target="#carousel-example" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active">
                <div class="hero">
                        <h1>Club Brugge - Anderlecht</h1>
                        <h2>Pakt Brugge de titel?   </h2>
             </div>
                <div class="overlay"></div>
                <a href="#"><img src="~/Content/img/anderlecht-carousel.jpg" alt="Anderlecht"></a>

            </div>
            <div class="item">
                <div class="hero">
                    <hgroup>
                        <h1>Search for</h1>
                        <h3>the books you need and save ! </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                    </hgroup>

                </div>

                <div class="overlay"></div>
                <a href="#"><img src="~/Content/img/clubbrugge-carousel.jpg" alt="Anderlecht"></a>

            </div>
            <div class="item">
                <div class="hero">
                    <hgroup>
                        <h1>Search for</h1>
                        <h3>the books you need and save ! </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                    </hgroup>
                </div>
                <div class="overlay"></div>
                <a href="#"><img src="~/Content/img/oostende-carousel.jpg" alt="Anderlecht"></a>

            </div>
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>