@model VoetbalTicketStore.ViewModel.ShoppingCart

@if (Model == null)
{
    <p>Winkelwagentje is leeg!</p>
}
else
{
    <table class="table">
        <tr>
            <th>ticket id</th>
            <th>prijs</th>
            <th>bezoeker</th>
            <th></th>
        </tr>
        @foreach (var item in Model.ShoppingCartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticketid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prijs) euro
                </td>
                <td>
                    @*TODO: bezoeker en wedstrijd opzoeken*@
                </td>
                <td>
                    @*The whole point of ajax is that it stays to the same page. It does not redirect.*@
                    @*@Ajax.ActionLink("X", "Remove", "ShoppingCart", new { id = item.id }, new AjaxOptions { HttpMethod = "Post" }, htmlAttributes: new { @class = "btn btn-outline-danger" })*@

                    @*Oplossing: gewone form met helpers.*@
                    @{Html.BeginForm("Remove", "ShoppingCart", new { id = item.id }, FormMethod.Post);}
                    <input type="submit" value="X" class="btn btn-outline-danger" />
                    @{Html.EndForm();}
                </td>
            </tr>
        }
    </table>
    <p>Totaalprijs: @Html.DisplayFor(model => model.TotaalPrijs)</p>
    <button>Mandje leegmaken</button>
    <button>Bevestigen</button>

}

